<li>
  <article class="card-item">
    <a class="card-item__link" href="/shop/item/<%= item.product_id %>">
      <picture class="card-item__cover">
        <!-- Este bloque de codigo decide si el producto no es de este mes, no le aplica la etiqueta NUEVO -->
        <% let fecha_creacion = new Date(item.create_time); let fecha_actual =
        new Date(); const diferenciaDias = (fecha_actual - fecha_creacion) /
        (1000 * 60 * 60 * 24); if (diferenciaDias < 30) { %>
        <span class="card-item_tag">Nuevo</span>
        <% }; %>
        <img
          class="card-item__ima-front"
          src="/images/<%= item.image_front %>"
          alt=" Figura <%= item.product_name %>"
        />
        <img
          class="card-item__ima-end"
          src="/images/<%= item.image_back %>"
          alt=" Figura <%= item.product_name %>"
        />
      </picture>
      <div class="card-item__content">
        <p class="card-item__license"><%= item.licence_name %></p>
        <h4 class="card-item__name"><%= item.product_name %></h4>
        <p class="card-item__price">$ <%= item.price %></p>
        <p class="card-item__promo"><%= item.dues %> CUOTAS SIN INTERÉS</p>
      </div>
    </a>
  </article>
</li>
